@import url("https://fonts.googleapis.com/css?family=Varela&display=swap");

html {
    font-family: 'Varela', Arial, sans-serif !important;
    min-width: 260px;
    min-height: 460px;
}

body {
    background: var(--body-bg);
    color: var(--text-color);
}