@tailwind base;
@tailwind components;

.strip {
    @apply gradiant-base;
    width: 1000px;
}

.strip-big {
    @apply gradiant-base;
    width: 2000px;
}

.title-box {
    @apply text-center;
    border: 8px double black;
    border-radius: 0.375rem;
}

@variants animated {
    .strip {
        @apply gradiant-base;
        width: 1000px;
        animation: parade 5s infinite linear;
    }

    .strip-big {
        @apply gradiant-base;
        width: 2000px;
        animation: big-parade 10s infinite linear;
    };
}


@tailwind utilities;

html {
    min-height: 100%;
    font-family: "Varela", Arial, sans-serif;
    min-width: 500px;
}

body {
    background-image: url('../img/bg.png');
    color: black;
}

.summary {
    @apply relative max-h-screen max-w-full py-2 box-border border-b border-black overflow-hidden bg-contain bg-top bg-no-repeat overflow-hidden flex flex-col;
    min-height: 500px;
}

.summary img {
    max-height: 500px;
}

.summary .summary-inner {
    @apply z-10 p-4 mx-auto flex flex-col items-center overflow-hidden;
}

.stack-list {
    @apply py-2 flex flex-row flex-wrap justify-center;
}

.stack-list li {
    @apply mx-2 my-1 px-2 bg-purple-300 rounded-md text-xs text-center font-light;
    width: fit-content;
}

.external-links {
    @apply flex flex-row items-center;
}

.external-links > * {
    @apply w-8 m-2;
}

.external-links:hover > * {
    opacity: 0.75;
}

.external-links:hover >:hover {
    opacity: 1;
}

.projects-grid {
    @apply px-8 grid;
    transform: translateY(-4rem);
}

.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.project-links {
    @apply w-32 py-2 flex justify-evenly;
}

.card {
    @apply relative block m-2 border-gray-600 rounded-md shadow-md h-64 bg-gray-200 bg-center bg-contain bg-no-repeat overflow-hidden;
    height: 18rem;
}

.card > img {
    height: inherit;
    margin: auto;
    transition: transform 0.8s;
    transform: scale(1);
}

.card:hover > img {
    transition: transform 0.8s;
    transform: scale(1.1);
}

.card .card-content {
    @apply absolute pb-4 px-4 w-full h-full bg-lightsmoke-75 text-blue-700 text-sm;
    top: 16rem;
    padding-top: 0;
    border-radius: inherit;
    transition: top, padding-top;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    backdrop-filter: blur(10px);
}

.card .card-content:hover {
    top: 0;
    padding-top: 1rem;
    transition: top, padding-top;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.card .card-description {
    margin: 1rem;
}

.card .card-title {
    @apply text-xl font-bold text-blue-800 text-center;
}

.card .card-footer {
    @apply absolute bottom-0 left-auto mb-4 w-11/12 flex justify-evenly;
}

.hero {
    @apply bg-blue-200;
    height: 100%;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.hero p {
    display: block;
    width: 100%;
}

.hero p:first-child {
    @apply text-blue-800;
    font-size: 3rem;
    font-weight: bolder;
}

.strip-wrapper {
    border: none;
    overflow: hidden;
}

.gradiant-base {
    height: 5px;
    max-height: 20%;
    filter: blur(1px);
    background: repeating-linear-gradient(-45deg, #f22 0%,#22f 20%,#2ff 40%, #2f2 60%, #ff2 80%, #f22 100%);
}

@keyframes parade {
    from {
        background-position: -1000px;
    }
    to {
        background-position: 0;
    }
}

@keyframes big-parade {
    from {
        background-position: -2000px;
    }
    to {
        background-position: 0;
    }
}

@keyframes open-box {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 50%;
    }
    100% {
        height: initial;
    }
}

/***** Double arrow icon *****/
a {
    text-decoration: none;
    color: #ffff;
}

.round {
    position: absolute;
    border: 2px solid black;
    border-radius: 20%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btn-arrows {
    @apply self-center round right-0 mr-8 bg-gray-100;
    position: absolute;
}

.btn-arrows .arrow {
    left: 30%;
}

.arrow {
    position: absolute;
    bottom: 0;
    margin-left: 0;
    width: 12px;
    height: 12px;
    top: 12px;
    -webkit-mask-image:  url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==');
    mask-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==');
    background-color: black;
}
.second {
    margin-left: 8px;
}

@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }
    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
    }
    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.btn-arrows .arrow {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.btn-arrows .arrow.first {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/***** End double arrow icon *****/

/***** From animate.css *****/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
}

.animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

@media(print),
(prefers-reduced-motion: reduce) {
    .animated {
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        -webkit-transition-duration: 1ms !important;
        transition-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
    }
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3)
    }

    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3)
    }

    50% {
        opacity: 1
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

/***** End from animate.css *****/
